@font-face {
  font-family: "04b_03";
  src: url("../fonts/04B_03__.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "04b_03";
  font-size: 14px;
  color: white;
  text-shadow: 0 0 20px #ffffff4a;
  image-rendering: pixelated;
  background-color: black;
  background-image: url("images/sunsetwave-1.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-font-smoothing: none;
}

body::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

body::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

h1 {
  font-size: 64px;
  text-align: center;
  line-height: 1em;
  color: #f5a97f;
  margin: 32px 0 20px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  color: #f5a97f;
  margin: 0;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  color: #f5a97f;
  margin: 0;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 2px;
  border-color: gray;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}

td {
  display: table-cell;
  vertical-align: top;
  unicode-bidi: isolate;
}

textarea {
  background-color: black;
  color: white;
  border: 1px solid #383838;
  font-family: MS Gothic, monospace;
  resize: none;
}

#container {
  margin: 0 auto;
  text-align: left;
  width: 1250px;
}

#main-content {
  width: 1250px;
  padding: 0;
  margin: 0;
}

#main-td {
  width: 800px;
}

#left-td,
#right-td {
  width: 225px;
  padding-top: 2px;
}

#spotify-data {
  display: block;
  margin-bottom: 20px;
}

#spotify-data h3 {
  margin-top: 20px;
}

#top-tracks-list,
#top-artists-list {
  list-style: none;
  padding: 0;
}

#vinyl-container-main {
  flex-direction: column;
  align-items: center;
}

#macro {
  width: 580px;
  float: left;
}

#blinkies {
  width: 150px;
  height: 20px;
}

#blinkies-1 {
  width: 150px;
  float: right;
}

#social-links {
  width: 156px;
  float: right;
}

.wrapper {
  /*background-color: #000000a8;
  border: 2px solid #383838;
  border-radius: 4px;
  border-style: dotted;*/
  padding: 10px 15px;
  margin: 5px;
}

.track-list-item,
.artist-list-item {
  display: block;
  overflow: hidden;
  margin-bottom: 16px;
}

.track-list-item .track-number,
.artist-list-item .artist-number {
  float: left;
  margin-right: 12px;
}

.track-list-item .track-details,
.artist-list-item .artist-details {
  float: left;
}

.track-list-item .track-text-content,
.artist-list-item .artist-text-content {
  margin-left: 0;
  margin-top: 0;
}

.track-number,
.artist-number {
  font-size: 30px;
  color: #71717a;
  font-weight: 700;
  display: inline-block;
  width: 20px;
}

.track-details,
.artist-details {
  display: block;
  text-align: center;
}

.track-text-content,
.artist-text-content {
  margin-left: 12px;
  margin-top: -4px;
}

.link-transition:hover {
  color: #1db954;
}

.vinyl-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.vinyl-container a:not(:first-child) {
  margin-left: -20px;
}

.vinyl-container p {
  margin: 0;
}

.vinyl-record {
  position: relative;
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
  border-radius: calc(infinity * 1px);
}

.vinyl-record:hover {
  animation: spin 3s linear infinite;
}

.vinyl-record .album-cover {
  width: 16px;
  height: 16px;
}

.vinyl-record-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9999px;
  background-image: linear-gradient(to bottom right, #1a202c, #2d3748, #000000);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.vinyl-record-groove {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  border: 1px solid;
  border-radius: 9999px;
  border-color: #4a5568;
  opacity: 0.3;
}

.vinyl-record-center-hole {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  transform: translate(-50%, -50%);
  border-radius: 9999px;
  background-color: #1a202c;
  border: 1px solid #4a5568;
  z-index: 10;
}

.album-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9999px;
  overflow: hidden;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.album-cover img {
  width: 100%;
  height: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 3s linear infinite;
}

/*eva*/

.slanted-rectangle {
  position: relative;
  width: 80px;
  height: 20px;
  background-color: #35ffb3;
  transform: skewX(25deg);
  rotate: 25deg;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 8px 1px rgba(53, 255, 179, 0.7);
}

.slanted-rectangle-flip {
  position: relative;
  width: 80px;
  height: 20px;
  background-color: #35ffb3;
  transform: skewX(-25deg);
  rotate: -25deg;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 8px 1px rgba(53, 255, 179, 0.7);
}

.slanted-rectangle::before,
.slanted-rectangle-flip::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 9px;
  height: 6px;
  background-color: #ff8c00;
}

.slanted-rectangle::after {
  content: "";
  position: absolute;
  bottom: -24px;
  right: 12px;
  width: 2px;
  height: 24px;
  background-color: #ff8c00;
}

.slanted-rectangle-flip::after {
  content: "";
  position: absolute;
  top: 100%;
  right: -56px;
  width: 56px;
  height: 2px;
  background-color: #ff8c00;
  transform: skewX(20deg);
  rotate: 20deg;
}

.slanted-rectangle:last-child:after {
  display: none;
}

#slanted-rectangles-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
  margin: 40px auto;
}

#regular-column,
#flipped-column,
.slanted-rectangle-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.flip-horizontal {
  transform: scaleX(-1);
}
