@font-face {
  font-family: "Silkscreen";
  src: url("../fonts/Silkscreen-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Silkscreen";
  src: url("../fonts/Silkscreen-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --body-text-shadow: 0 0 20px #ffffff4a;
  --primary-color: #ff9900;
}

body {
  font-family: "VT323", monospace;
  color: white;
  text-shadow: var(--body-text-shadow);
  background-color: black;
  image-rendering: pixelated;
  background-image: url("images/stars-bg.gif");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: auto;
  -webkit-font-smoothing: none;
}

body::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

body::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 2px;
  border-color: gray;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}

#container {
  width: 960px;
  margin: 0 auto;
}

#main-td {
  width: 680px;
  vertical-align: baseline;
}

#side-td {
  width: 280px;
  vertical-align: baseline;
}

#spotify-data {
  display: block;
  margin-bottom: 20px;
}

#spotify-data h3 {
  margin-top: 20px;
}

#top-tracks-list,
#top-artists-list {
  list-style: none;
  padding: 0;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(56, 56, 56);
  border-image: initial;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 5px;
}

.wrapper h2 {
  display: inline;
  font-family: "Silkscreen";
  font-size: 28px;
  font-weight: bold;
  color: var(--primary-color);
}

.track-list-item,
.artist-list-item {
  display: block;
  overflow: hidden;
  margin-bottom: 16px;
}

.track-list-item .track-number,
.artist-list-item .artist-number {
  float: left;
  margin-right: 12px;
}

.track-list-item .track-details,
.artist-list-item .artist-details {
  float: left;
}

.track-list-item .track-text-content,
.artist-list-item .artist-text-content {
  margin-left: 0;
  margin-top: 0;
}

.track-number,
.artist-number {
  font-size: 30px;
  color: #71717a;
  font-weight: 700;
  display: inline-block;
  width: 20px;
}

.track-details,
.artist-details {
  display: block;
  text-align: center;
}

.track-text-content,
.artist-text-content {
  margin-left: 12px;
  margin-top: -4px;
}

.link-transition:hover {
  color: #1db954;
}

.vinyl-container {
  display: flex;
  margin-left: 24px;
}

.vinyl-container .vinyl-record {
  float: left;
}

.vinyl-record {
  position: relative;
  width: 72px;
  height: 72px;
  margin-left: -24px;
  transition: transform 0.3s ease;
  border-radius: calc(infinity * 1px);
}

.vinyl-record:hover {
  animation: spin 3s linear infinite;
}

.vinyl-record .album-cover {
  width: 48px;
  height: 48px;
}

.vinyl-record-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9999px;
  background-image: linear-gradient(to bottom right, #1a202c, #2d3748, #000000);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.vinyl-record-groove {
  position: absolute;
  border-radius: 9999px;
  border: 1px solid;
  opacity: 0.3;
}

.vinyl-record-groove-1 {
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  border-color: #4a5568;
}

.vinyl-record-groove-2 {
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  border-color: #4a5568;
}

.vinyl-record-groove-3 {
  top: 16px;
  right: 16px;
  bottom: 16px;
  left: 16px;
  border-color: #4a5568;
  opacity: 0.2;
}

.vinyl-record-groove-4 {
  top: 24px;
  right: 24px;
  bottom: 24px;
  left: 24px;
  border-color: #4a5568;
  opacity: 0.1;
}

.vinyl-record-center-hole {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  border-radius: 9999px;
  background-color: #1a202c;
  border: 1px solid #4a5568;
  z-index: 10;
}

.album-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9999px;
  overflow: hidden;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.album-cover img {
  width: 100%;
  height: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 3s linear infinite;
}
